{{page-title "Details"}}
<nav class="flex mb-8 text-lg">
  <div class="pb-1">
    <LinkTo @route="bands.band.details">
      Details
    </LinkTo>
  </div>

  <div class="pb-1 ml-4">
    <LinkTo @route="bands.band.songs">
      Songs
    </LinkTo>
  </div>
</nav>
{{outlet}}
