{{page-title "Rock & Roll with Octane"}}

<ul>
  {{#each
    (array
      (hash title="Black Dog" band="Led Zeppelin" rating=3)
      (hash title="Yellow Ledbetter" band="Pearl Jam" rating=1)
      (hash title="The Pretender" band="The Foo Fighters" rating=5)
    ) as |song|
  }}
  <li>
    {{song.title}} by {{song.band}} ({{song.rating}})
  </li>
  {{/each}}
</ul>
